name: Static Analysis (informative)

on:
  push:
    branches:
      - main

jobs:
  phpstan:
    name: PHPStan
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.3
          coverage: none

      - name: Install dependencies
        run: composer install --no-progress --prefer-dist

      - name: Install PHPStan
        run: composer require phpstan/phpstan --no-progress --dev

      - name: Run PHPStan
        run: vendor/bin/phpstan analyse src/
        continue-on-error: true # is only informative
